## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s= 'Hi there Sam!'
s.split()

['Hi', 'there', 'Sam!']

In [ ]:
s='Hi there dad'
s.split()

['Hi', 'there', 'dad']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet="Earth"
diameter=12742

In [ ]:
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:

d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
#List is Mutable and consumes more memory
#tuble is immutable and consumes less memory

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def domainget(email):
  return s.split('@')[-1]

In [ ]:
domainget('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def fdog(st):
  return 'dog' in st.lower().split()

In [ ]:
fdog('I often take a walk with my dog in the evening')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
def cdog(str):
  cnt=0
  for word in str.lower().split():
    if word=='dog':
      cnt=cnt+1;
  return cnt

In [ ]:
cdog('I often take a walk with my dog in the evening. His dog follows him everywhere')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(90,False)

'Big Ticket'

In [ ]:
caught_speeding(72,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

  

   
     NAME   AGE   SALARY
     SAM    26    45000
     RAM    43    90000
     PRIYA  23    40000
     SRI    35    60000
     KIRTHI 21    50000

In [ ]:
num=[45000,90000,40000,60000,50000]
sum=0
for i in num:
  sum=sum+i
  print("total salary expentiture:",sum)

total salary expentiture: 45000
total salary expentiture: 135000
total salary expentiture: 175000
total salary expentiture: 235000
total salary expentiture: 285000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
def Merge(d1,d2):
  res={**d1,**d2}
  return res
d1={'Empid':50,'Empname':'sam','Basicpay':40000}
d2={'DepName':'marketing','DeptId':20}
d3=Merge(d1,d2)
print(d3)

{'Empid': 50, 'Empname': 'sam', 'Basicpay': 40000, 'DepName': 'marketing', 'DeptId': 20}